.email-compose {
    min-width: 500px;
    min-height: 400px;;
    position: fixed;
    bottom: 0px;
    right: 20px;
    border: 1px solid #00000014;
    background-color: white;
}

.email-compose header {
    height: 50px;
    background-color: #404040;
    color: #e0e0e0;
    font-family: sans-serif;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.email-compose h6 {
    font-size: 1rem;
    /* margin-left: 10px; */
    font-weight: normal;
    color: #ffff;
}

.email-compose .close {
    float: right;
    font-size: 1.4rem;
    cursor: pointer;
    color: #a6a6a6;
    border: 0;
    background-color: #404040;
    outline: none;
}

.email-compose .close:hover {
    color: #ffff;
}

.email-compose input {
    border: 0;
    border-bottom: 1px solid #eceff1;
    font-size: 1rem;
    margin: 20px;
    outline: none;
    width: 90%;
    padding-bottom: 7px;
}

.email-compose textarea {
    border: 0;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    width: 90%;
    resize: none;
    font-size: 1.5rem;
}

.email-compose .send {
    background-color: #7a7aca;
    border: 0;
    color: #fbfdff;
    font-size: 1rem;
    width: 70px;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
}