.email-filter .search-section {
    flex-grow: 1;
}

.email-filter .search-section .search {
    width: 90%;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f1f3f4;
    padding: 12px 20px 12px 40px;
    position: relative;
    outline: none;
    margin-bottom: 15px;
    opacity: 0.9;
}

.email-filter .search-section .fa-search {
    z-index: 100;
    top: 13px;
    left: 10px;
    color: #5f6368;
}

.email-filter .filters-section {
    flex-grow: 1;
}

.email-filter .filters-section i {
    font-size: 1.5rem;
    margin-right: 15px;
    line-height: 42px;
    /* color: #e5e5e5; */
    color: #d54b3d;
    cursor: pointer;
}



.email-filter .filters-section i.selected {
    color: #d54b3d;
    font-weight: bold;
}

@media (max-width: 740px) {
    .email-filter {
        flex-direction: column;
    }
}