.book-details{
    position: relative;
    background-color: #c921911c;
    padding: 1rem;
    width: 60%;
    min-width: 350px;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 15px;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    border: 1px solid black;
    line-height: 1.5rem;
    font-family: euro;
    font-size: 1.3rem;
    
}

.details{
  display: flex;
  flex-direction: row;
}


.datails-img{
    width: 300px;
    height: 400px;
    margin-right: 30px;
}

.datails span {
    font-weight: bold;
}

.datails li{
    text-align: left;
}


.close-btn {
    position: absolute;
    float: right;
    right: 32px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close-btn {
    opacity: 1;
  }
  .close-btn:before, .close-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close-btn:before {
    transform: rotate(45deg);
  }
  .close-btn:after {
    transform: rotate(-45deg);
  }


  @media (max-width: 740px) {
 
    .datails-img{
      width: 150px;
      height: 200px;

  }
}
