.book-preview{
    width: 200px;
    height: 300px;
    border: 1px black solid;
    margin-right: 100px;
    margin-bottom: 60px;
}

.book-preview li{
    font-weight: bold;
}


.book-img{
    width: 100%;
    height: 100%;
}