
  
  .review-add{
  
  font-family: euro;
  }
  
  
  .review-add textarea {
    width: 70%;
    height: 150px;
    padding: 15px 22px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 5px;
    resize: none;  
    margin-top: 20px;
}

  .review-add input,select{
    outline: none;
    margin: 0 .5rem 0 0;
    border-radius: 5px;
    
  }

  .review-add span,label{
      font-weight: bold;
  }

.rev-btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #241450;
    border: none;
    border-radius: 15px;
  }
  
  .rev-btn:hover {background-color: #351d77}
  
  .rev-btn:active {
    background-color: #2a185c;
    transform: translateY(4px);
  }


 .remove-rev{
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
 }