.logo {
    font-weight: normal;
    transition: 0.3s all;
    cursor: pointer;
    text-decoration: none;
    color: #551a8b;
}

.logo:hover {
    color: #d54b3d;
}

.logo span {
    font-weight: bold;
    color: #d54b3d;
    transition: 0.3s all;
}

.logo:hover span {
    color: #551a8b;
}

.email-app {
    margin-top: 30px;
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
}

.email-app .btn-compose {
    height: 42px;
    background-color: #d54b3d;
    border: none;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: .1s background-color;
}

.email-app .btn-compose:hover {
    background-color: #d54b3dc9;
}

.email-app .btn-compose:focus {
    outline: none;
}

.email-app ul.folders {
    margin-top: 10px;
    margin-left: 10px;
}

.email-app ul.folders li {
    margin-bottom: 5px;
}

@media (max-width: 740px) {
    .email-app .btn-compose {
        width: 90px;
    }
}