.email-list .email-preview {
    padding: 10px 5px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    opacity: 0.9;
    border-radius: 4px;
}

.email-list .email-preview:hover {
    border: 1px solid #ccc7c7;
}

.email-list .email-preview:hover .email-starred .far {
    color: #7f8080;
}

.email-list .email-preview:first-child {
    border-top: 1px solid #e5e5e5;
}

.email-list .email-preview.unread {
    background-color: #ffffff;
}

.email-list .email-preview a {
    color: #000000;
    text-decoration: none;
}

.email-list .email-preview.unread a {
    font-weight: bold;
}