.home-page {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    background-color: #72729280;
    font-family: euro;
}

.home-title {
    padding: 10px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    font-size: 3.5rem;
}

.home-content {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

.home-page .inline-logo {
    font-weight: bold;
    cursor: pointer;
    font-size: 2.5rem;
}

.home-page .inline-logo span.logo-first {
    color: #d54b3d;
    transition: 0.3s all;
}

.home-page .inline-logo span.logo-second {
    color: #551a8b;
    transition: 0.3s all;
}

.home-page .inline-logo:hover span.logo-first {
    color: #551a8b;
}

.home-page .inline-logo:hover span.logo-second {
    color: #d54b3d;
}

.home-page .btn-app {
    font-size: 1.6rem;
    color: #ffffff;
    background-color: #9464a2;
    outline: none;
    border: 0;
    padding: 20px 30px;
    border-radius: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1s;
    text-decoration: none;
}

.home-page .btn-app:hover {
    background-color: #ffffff;
    color: #9464a2;
}

.home-page .apps {
    display: flex;
    justify-content: center;
}

.home-page .apps .btn-app {
    margin-right: 50px;
}

.home-all-content {
    padding: 0 0 20px;
}